
.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}
.enlace:hover {
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
}
@media (max-width: 768px){
    .navegacion{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion a{
    padding: 20px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}
.navegacion a:hover, .active{
    color: var(--black);
    border-radius: 5px;
}